<div align="center" id="display" style="display:none">
    <br />
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="438" height="582" class="the_wheel" align="center" valign="center">
                <canvas id="canvas" width="434" height="434">
                    <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                </canvas>
            </td>
        </tr>
    </table>
</div>
<script src = "/socket.io/socket.io.js"></script>
<script src="/javascripts/index.js"></script>